<div layout="column" style="height:100vh;">

    <div layout="row">
        <md-toolbar>
            <div class="md-toolbar-tools">

                <md-menu>
                    <md-button aria-label="Menu" class="md-icon-button" ng-mouseenter="$mdMenu.open()">
                        <i md-menu-origin class="material-icons md-light">menu</i>
                    </md-button>
                    <md-menu-content width="4" ng-mouseleave="$mdMenu.close()">
                        <md-menu-item>
                            <md-button ui-sref="home.search">
                                <i class="material-icons md-dark" md-menu-align-target>search</i>
                                Search
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ui-sref="home.post">
                                <i class="material-icons md-dark" md-menu-align-target>message</i>
                                Post
                            </md-button>
                        </md-menu-item>
                </md-menu>


                <h2>
                    <span>Rentr</span>
                </h2>
                <span flex></span>
                <h3>
                    <span>Signed in as {{first_name.charAt(0).toUpperCase() + first_name.slice(1)}}</span>
                </h3>
            </div>
        </md-toolbar>
    </div>


    <md-content flex layout-fill layout="column"  ui-view>
    </md-content>
</div>