<div layout="column" style="height:100vh;">

    <div layout="row">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <span>Rentr</span>
                </h2>
                <span flex></span>
                <h3>
                    <span>Signed in as {{first_name.charAt(0).toUpperCase() + first_name.slice(1)}}</span>
                </h3>
            </div>
        </md-toolbar>
    </div>


    <md-content flex layout-fill class="inset" layout="column"  ui-view>
    </md-content>
</div>