<div
     layout-padding
     layout-gt-sm="row" layout-align-gt-sm="center top">

    <div flex-gt-sm="60">

        <form name="userForm">
            <md-input-container class="md-block">
                <label>Title</label>
                <input md-no-asterisk name="short_desc" ng-model="post.short_desc" placeholder="A short description"
                       required md-maxlength="50">
            </md-input-container>

            <div layout="column" layout-gt-sm="row">
                <md-input-container>
                    <label>Rent (CAD/month)</label>
                    <input md-no-asterisk name="rent" type="number" ng-model="post.rent" required>
                </md-input-container>

                <md-input-container>
                    <label>Available from</label>
                    <md-datepicker md-no-asterisk ng-model="post.date.from" required></md-datepicker>
                </md-input-container>

                <md-input-container>
                    <label>Until</label>
                    <md-datepicker md-no-asterisk ng-model="post.date.to" required></md-datepicker>
                </md-input-container>
            </div>

            <md-input-container class="md-block">
                <label>Address</label>
                <input md-no-asterisk ng-model="post.addr.line1" placeholder="Address line 1" required>
            </md-input-container>

            <md-input-container md-no-float class="md-block">
                <input md-no-asterisk ng-model="post.addr.line2" placeholder="Address line 2">
            </md-input-container>


            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm="30">
                    <label>City</label>
                    <input md-no-asterisk ng-model="post.addr.city" required>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm="30">
                    <label>Postal Code</label>
                    <input md-no-asterisk name="post_code" ng-model="post.addr.post_code" required md-maxlength="6">
                </md-input-container>

            </div>

            <!-- <div layout="column" layout-gt-sm="row" layout-wrap ng-show="photos_to_upload.length">
                <div flex="100" flex-gt-sm="45" ng-repeat="photo in photos_to_upload">
                    <md-card >
                        <md-card-title>
                            <md-truncate>{{photo.name}}</md-truncate>
                        </md-card-title>

                        <md-card-content layout="column" layout-align="top center">
                            <img class="md-card-image"
                                 style="max-width: 100%" ngf-thumbnail="photo" />
                        </md-card-content>
                    </md-card>
                </div>
            </div> -->

            <div layout="column"
                 layout-gt-sm="row" layout-align-gt-sm="center"
                 ng-show="photos_to_upload.length">
                <div layout="column" flex-gt-sm="45">
                    <md-card ng-repeat="photo in photos_to_upload" ng-if="$even">
                        <md-card-title>
                            <md-truncate>{{photo.name}}</md-truncate>
                        </md-card-title>

                        <md-card-content>
                            <img class="md-card-image"
                                 style="max-width: 100%"
                                 ngf-src="photo" />
                        </md-card-content>
                    </md-card>
                </div>
                <div layout="column" flex-gt-sm="45">
                    <md-card ng-repeat="photo in photos_to_upload" ng-if="$odd">
                        <md-card-title>
                            <md-truncate>{{photo.name}}</md-truncate>
                        </md-card-title>

                        <md-card-content>
                            <img class="md-card-image"
                                 style="max-width: 100%"
                                 ngf-src="photo" />
                        </md-card-content>
                    </md-card>
                </div>
            </div>

            <div>
                <md-button class="md-icon-button md-raised"
                           ngf-select ng-model="photos_submitted" ngf-multiple="true"
                           ngf-pattern="'image/*'"
                           ngf-accept="'image/*'"
                           ngf-max-size="5MB">
                    <i class="material-icons md-dark">cloud_upload</i>
                </md-button>
                <span>Upload <ng-show ng-show="photos_to_upload.length">more</ng-show> photos</span>
            </div>

            <br/>

            <div>
                <md-button class="md-raised md-primary" ng-click="uploadPhotos(photos_to_upload)">Post</md-button>
            </div>
        </form>

    </div>
</div>