<div layout="column" ng-cloak>
    <md-content layout-padding>
        <br/>
        <form flex name="queryForm">

            <div layout="column" layout-gt-sm="row" layout-align="center left">

                <div layout="row">
                    <md-input-container class="md-block" flex="60">
                        <label>City</label>
                        <md-select ng-model="query.city">
                            <md-option required ng-repeat="city in cities" value="{{cities}}">
                                {{state.abbrev}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container flex="40">
                        <label>Tenants</label>
                        <input required md-no-asterisk name="city" ng-model="query.tenants">
                    </md-input-container>
                </div>


                <div layout="column" layout-gt-sm="row">
                    <md-input-container>
                        <label>Start</label>
                        <md-datepicker required md-no-asterisk ng-model="query.moveInDate" name="moveInDate"></md-datepicker>
                    </md-input-container>

                    <md-input-container>
                        <label>End</label>
                        <md-datepicker required md-no-asterisk ng-model="query.moveOutDate" name="moveOutDate" md-min-date="query.moveInDate"></md-datepicker>
                    </md-input-container>
                </div>

            </div>

            <div layout="row" layout-align="start" layout-align-gt-sm="center">
                <div>
                    <md-button class="md-raised md-primary" type="submit">Search</md-button>
                </div>
            </div>

        </form>
    </md-content>
</div>